.outside-box{
    margin-top: 7rem;
    margin-left: 33rem;
    width: 29rem; 
    background-color: rgba(59, 167, 200, 0.466);
}

.align-left{
    padding-left: 23px;
    padding-right: 194px;
}

.uploadPic{
    width: 90%;
}

.marginBottomResize{
    display: inline;
    margin-bottom: 5px;
}