.outside-box{
    width: 29rem; 
    background-color: rgba(59, 167, 200, 0.466);
}

.input-text-and-password{
    border-radius: 10px; 
    width: 25rem;
}

.label-coloring{
    color: #0074d9;
}

.link{
    font-style: italic;
    color: #000000;
}

.link:hover{
    color: #0074d9;
}

.login-box{
    margin-top: 10%;
    margin-bottom: 10%;
}

.marginBottomResize{
    display: inline;
    margin-bottom: 5px;
}

@media only screen and (max-width: 575.98px){
    .login-box{
        margin-top: 30%;
        margin-bottom: 10%;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px){
    .login-box{
        margin-top: 25%;
        margin-bottom: 10%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px){
    .login-box{
        margin-top: 25%;
        margin-bottom: 10%;
    }
}

.container-box{
    background: rgba(59, 167, 200, 0.466);
    color: #0074d9;
    z-index: 9;
    position: absolute;
    top: 40%;
    bottom: 40%;
    left: 25%;
    right: 25%;
    text-align: center;
    vertical-align: bottom;
    border-radius: 12px;
}

.text{
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
}