.outside-box{
    width: 29rem; 
    background-color: rgba(59, 167, 200, 0.466);
}

.input-text-and-password{
    border-radius: 10px; 
    width: 25rem;
}

.label-coloring{
    color: #0074d9;
}

.link{
    font-style: italic;
    color: #000000;
}

.link:hover{
    color: #0074d9;
}

.marginBottomResize{
    display: inline;
    margin-bottom: 5px;
}

.container-box{
    background: rgba(59, 167, 200, 0.466);
    color: #0074d9;
    z-index: 9;
    position: absolute;
    top: 37%!important;
    bottom: 43%!important;
    left: 25%;
    right: 25%;
    text-align: center;
    vertical-align: bottom;
    border-radius: 12px;
}

.text{
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 20px;
}

.contain-box{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-top: 22vh;
}