.outside-box{
    width: 29rem; 
    background-color: rgba(59, 167, 200, 0.466);
}

.input-text-and-password{
    border-radius: 10px; 
    width: 25rem;
}

.label-coloring{
    color: #0074d9;
}

.link{
    font-style: italic;
    color: #000000;
}

.link:hover{
    color: #0074d9;
}

.login-box{
    margin-top: 10%;
    margin-bottom: 10%;
}

.marginBottomResize{
    display: inline;
    margin-bottom: 5px;
}

@media only screen and (max-width: 575.98px){
    .login-box{
        margin-top: 30%;
        margin-bottom: 10%;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767.98px){
    .login-box{
        margin-top: 25%;
        margin-bottom: 10%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991.98px){
    .login-box{
        margin-top: 25%;
        margin-bottom: 10%;
    }
}