#shareForm {
  width: 29rem;
  background-color: rgba(59, 167, 200, 0.466);
}

#share-image-section {
  padding-right: 15.75rem;
}

.uploadPic {
  width: 90%;
}

#share-image-section label {
  text-align: left;
}

#frame {
  width: 50%;
  height: 50%;
  display: none;
}

#description {
  border-radius: 10px;
  width: 25rem;
  height: 15rem;
}

.form-select {
  width: 50% !important; 
}

.error{
  color: red;
}

.marginBottomResize{
  display: inline;
  margin-bottom: 5px;
}

.content{
  padding-top: 7.5rem;
  padding-bottom: 10rem;
}