:root{
    --s-step: calc(97.2307692rem/12);
    --z-index:5050;
    --s4: calc(4px*1.5);
    --s8: calc(8px*1.5);
    --logo:calc(32px);
    --color: rgb(38, 38, 38);
    --bg-colour:#0074d9
}
.container-fluid {
    justify-content: round !important
}

.container-navbar{
    border-bottom-width:1px ;
    border-bottom-style: solid;
    color: var(--color);
    background-color: var(--bg-colour);
    border-bottom-color: rgb(219, 219, 219);
}
.logo{
    width: var(--logo);
    height: var(--logo);
}
.form-control{
    color: var(--color);
    border-bottom-color: black;
    border-width: 1px;
}

.nav-justified{
    margin-bottom: 0;
    flex-basis: 1;}
.bg-custom{
    background-color:#130f40;
    }
.button-fixed{
    bottom: 0;
    position: block;
    right: 0;
    border-radius: 4px;
    }
.fas{
    cursor: pointer;
    font-size: 24px;
    }
.cookie-consent-modal{
    width: calc(var(--s-step) * 4);
    z-index: var(--z-index);
    position: fixed;
    bottom: 16px;
    right: 16px;
    padding: 32px;
    background-color: black;
    border-radius: 8px;
    display: none;
}
.cookie-consent-modal.active{
    display: block;
}
.content-title{
    margin-bottom: var(--s4);
}
.buttons{
    margin: calc(var(--s8)/2);
}
.btn-outline-success{
    background-color: #fee !important;
}
footer{
    background-color: var(--bg-colour);
}
a{
    color:#fee;
}
@media(max-width:768px){
    .form-control{
        display: none;
    }
    .btn-outline-success{
        display: none;
    }
    #Capa_1{
        display: none;
    }
    .cookie-consent-modal{
        width: auto;
        padding:16px;
        left: 0;
        right: 0;
    }
    .buttons{
        flex-direction: row !important;
    }
    .nav-link{
        padding: 0 !important;
        align-items: center;
    }
    .nav-item{
        margin-right: 5px;
        box-sizing: border-box;
    }
}
